@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  --foreground: #171717;
  }
}


* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--foreground);
    background: var(--background);
}

a {
    transition: 0.5s;
    outline-style: none;
    text-decoration: none;
    color: #63A027;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #0C3C4A;
}

p,ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: "Paytone One", sans-serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 25px;
}
section {
  display: block;
  float: left;
  width: 100%;
}

.home_about_section
{
    display: block;
    float: left;
    width: 100%;
    padding: 60px 0;
    position: relative;
    z-index: 2;
}

.home_about_text
{
    display: block;
    float: left;
    width: 100%;
}
.home_about_text h3
{
    color: #63A027;
    font-size: 22px;
}
.home_about_text h2
{
    color: #0d3c4b;
}
.home_about_text p
{
    margin-top: 15px;
}
.home_about_text ul
{
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.home_about_text ul li
{
    position: relative;
    font-size: 20px;
    font-family: "Paytone One", sans-serif;
    padding-left: 55px;
    display: inline-block;
    width: 50%;
    margin-top: 25px;
}
.home_about_text ul li::after
{
    position: absolute;
    left: 0;
    top: -5px;
    content: url(/images/tick1.svg);
}
.home_about_img_area
{
    display: flex;
    float: left;
    width: 100%;
    justify-content: center;
}
.home_about_img_area img
{
    max-width: 100%;
    height: auto;   
}

.home_service_section
{
    display: block;
    float: left;
    width: 100%;
    background: url(/images/home_service_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
}
.service_tab_section
{
  margin-top: 30px;
}
.service_tab_section .nav-pills {
  background: url(/images/outr_service_border.svg) bottom center no-repeat;
  background-size: 100% 2px;
  padding-bottom: 25px;
  width: 100%;
}
.service_tab_section .tab-button
{
  background: #fff;
  border-radius: 30px;
  margin: 5px;
  color: #000;
  font-size: 16px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.service_tab_section .tab-button img
{
  width: auto !important;
  height: 25px !important;
  margin-left: 10px;
}
.service_tab_section .tab-button:hover
{
  background: #0d3c4b;
  color: #fff;
}
.service_tab_section .tab-button:hover img {
  filter: brightness(0) invert(1);
}
.service_tab_section .active
{
  background: #0d3c4b !important;
  color: #fff !important; 
  box-shadow: none;
  border: none;
}
.service_tab_section .active img {
  filter: brightness(0) invert(1);
}

.home_service_box1
{
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0;
}
.home_service_box1 .img_area {
    display: block;
    float: left;
    width: 100%;
    border-radius: 15px;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: all .5s ;
	transition-timing-function:ease-out;
}
.home_service_box1 .img_area img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s;
    transition-timing-function: ease-out;
}
.home_service_box1:hover .img_area img
{
	transform: scale(1.1);
}
.home_service_box1 .text_area {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: #fff;
}
.home_service_box1 .text_area h2
{
    font-size: 20px;
}
.home_download_section {
  display: block;
  float: left;
  width: 100%;
  padding: 60px 0;
}
.home_download_img_area {
  display: flex
  ;
      float: left;
      width: 100%;
      justify-content: center;
}
.home_download_img_area img {
  max-width: 100%;
}
.home_download_text_area {

  text-align: center;
}
.home_download_qr_box1 {
  display: block;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.home_download_qr_box1 .qr {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 140px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 20px;
}
.qr_link_but
{
  display: inline-block !important;
  width: 100% !important;
  max-width: 250px !important;
}
.local_sitter_section {
  display: block;
  float: left;
  width: 100%;
  padding: 60px 0;
  background: url(/images/meet_section_bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.local_sitter_box1
{
    display: block;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin-top: 30px;
}
.local_sitter_box1 .img_area
{
    display: block;
    float: left;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 180px;
    overflow: hidden;
}
.local_sitter_box1 .img_area img
{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s ;
	transition-timing-function:ease-out;
}
.local_sitter_box1:hover .img_area img
{
	transform: scale(1.1);
}
.local_sitter_box1 .text_area
{
    display: block;
    float: left;
    width: 100%;
    border-radius:0 0 20px 20px;
    padding: 15px 20px;
}
.local_sitter_box1 .text_area h2
{
    font-family: "Nunito", sans-serif !important;
    font-size: 16px;
    font-weight: 700; 
    color: #000;  
}
.local_sitter_box1 .text_area p
{
    color: #A7A7A7;
}
.local_sitter_box1 .text_area p span
{
    color: #E10606;
}

.but_style1
{
    background: #63A027;
    color: #fff;
    padding: 10px 50px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
    border: 1px solid #63A027;
}
.but_style1:hover
{
    background: #0d3c4b;
    color: #fff;
    border: 1px solid #0d3c4b;
}
.but_style1_line
{
    color: #63A027;
    padding: 10px 50px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
    border: 1px solid #63A027;
}
.but_style1_line:hover
{
    background: #63A027;
    color: #fff;
}

.sitter_videos_section {
  display: block;
  float: left;
  width: 100%;
  padding: 60px 0;
}

.sitter_videos_box1
{
    display: block;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin-top: 25px;
    position: relative;
    background: #000;
}
.sitter_videos_box1 .img_area
{
    display: block;
    float: left;
    width: 100%;
    border-radius: 15px;
    height: 260px;
    overflow: hidden;
    position: relative;
    background: #000;
    z-index: 1;
}
.sitter_videos_box1 .all_img_area
{
    display: block;
    float: left;
    width: 100%;
    border-radius: 15px;
    height: 340px;
    overflow: hidden;
    position: relative;
    background: #000;
    z-index: 1;
}
.sitter_videos_box1 .img_area img
{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s ;
	transition-timing-function:ease-out;
    position: relative;
    z-index: 1;
    opacity: .6;
}
.sitter_videos_box1:hover .img_area img
{
	transform: scale(1.1);
}
.sitter_videos_box1 .text_area
{
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.sitter_videos_box1 .text_area h2
{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700; 
    color: #fff;  
}
.play_but
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #fff;
    font-size: 45px;
}
.play_but:hover
{
    color: #fff;
}
.view_but
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #fff;
    font-size: 16px;
}
.view_but:hover
{
    color: #fff;
}


.sitter_videos_box2
{
    display: block;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin-top: 15px;
}
.sitter_videos_box2 .img_area
{
    display: block;
    float: left;
    width: 100%;
    border-radius: 15px;
    height: 150px;
    overflow: hidden;
    position: relative;
    background: #000;
}
.sitter_videos_box2 .img_area img
{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s ;
	transition-timing-function:ease-out;
    position: relative;
    z-index: 1;
    opacity: .8;
}
.sitter_videos_box2:hover .img_area img
{
	transform: scale(1.1);
}
.sitter_videos_box2 .text_area
{
    display: block;
    float: left;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.sitter_videos_box2 .text_area h2
{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700; 
    color: #000;  
}
.footer
{
    display: block;
    float: left;
    width: 100%;
    background: #0d3c4b;
    color: #fff;
}
.footer_top_section
{
    display: block;
    float: left;
    width: 100%;
    padding: 40px 0 0 0 ;
}

.footer_top_section .box1
{
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0;
}
.footer_top_section .box1 ul
{
    list-style-type: none;
}
.footer_top_section .box1 ul li
{
    margin: 1px 0;
    cursor: pointer;
    transition: 0.5s;
}
.footer_top_section .box1 ul li:hover
{
  color: #63A027; 
}
.footer_top_section .box1 ul li a
{
    color: #fff;
    cursor: pointer;
}
.footer_top_section .box1 ul li a:hover
{
    color: #63A027;
}
.footer_bottom_section
{
    display: block;
    float: left;
    width: 100%;
    padding: 40px 0;
}
.footer_bottom_section .box1
{
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0;
}
.footer_bottom_section .box1 ul
{
    list-style-type: none;
}
.footer_bottom_section .box1 ul li
{
    margin: 1px 0;
}
.footer_bottom_section .box1 ul li a
{
    color: #fff;
}
.footer_bottom_section .box1 ul li a:hover
{
    color: #63A027;
}
.footer_bottom_section .box1 ul i
{
    color: #63A027;
}

.footer_bottom_section .box2
{
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0;
}
.footer_bottom_section .box2 ul
{
    list-style-type: none;
}
.footer_bottom_section .box2 ul li
{
    margin: 1px 0;
}
.footer_bottom_section .box2 ul li a
{
    color: #fff;
}
.footer_bottom_section .box2 ul li a:hover
{
    color: #63A027;
}
.footer_bottom_section .box2 ul i
{
    color: #63A027;
}
.footer_bottom_section .box2 ul li
{
    position: relative;
    padding-left: 25px;
}
.footer_bottom_section .box2 ul li i
{
    position: absolute;
    left: 0;
    top: 0;
}

.footer_bottom_section .box3
{
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0;
}
.footer_bottom_section .box3 p
{
    margin-top: 10px;
}
.footer_bottom_section .box3 p a
{
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}
.footer_bottom_section .box3 p a:hover
{
    color: #63A027;
}
.footer_qr_section
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    width: 100%;
}
.footer_qr_section .box1
{
    display: inline-block;
    vertical-align: top;
    width: 114px;
    margin-top: 20px;
    margin-right: 15px;
}
.footer_qr_section .box1 .qr
{
    display: block;
    float: left;
    width: 100%;
    height: 114px;
    background: #fff;
    border-radius: 15px;
    padding: 5px;
}
.footer_qr_section .box1 .qr img
{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.footer_qr_section .box1 .app_link_but
{
    display: block;
    float: left;
    width: 100%;
    margin-top: 12px;
}
.footer_qr_section .box1 .app_link_but img
{
  width: 100%;
}
.footer_copy_section
{
    display: block;
    float: left;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #ffffff6d;
}

.homepage_slider_section {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
}
.homepage_slider_section img
{
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover !important;
}
.carousel-caption {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: inherit;
  top: 50%;
  transform: translateY(-50%);
}
.custom-carousel
{
  border-radius: 0px !important;
}
.header_top_section
{
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, #00000000 100%);
}
.header_top
{
    display: flex;
    float: left;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    position: relative;
    z-index: 2;
}
.header_top p
{
    color: #fff;
}
.header_top p a
{
    color: #fff;
}
.header_top .right
{
    display: flex;
    align-items: center;
}
.top_notification_section {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  margin: 0 10px;
}
.top_notification_section i
{
  color: #000;
}
.top_notification_section .count {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 22px;
  height: 22px;
  background: #63A027;
  border: 1px solid #fff;
  border-radius: 100%;
  position: absolute;
  right: -5px;
  top: -5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}
.header_nevigation_section
{
    display: block;
    float: left;
    width: 100%;
    padding: 2px 20px;
    z-index: 99999;
}
.header_nevigation_section link
{
  cursor: pointer;
}

.header_nevigation_section .active
{
  color: #63A027 !important;
}
.header_nevigation_section a
{
  font-weight: bold;
}
.header_nevigation_section a:hover
{
  color: #63A027 !important;
}
.nav_login_but
{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 25px !important;
    background: #63A027;
    color: #fff;
    border-radius: 50px;
    margin-left: 10px;
}
.nav_login_but span
{
  padding: 0 !important;
}
.nav_login_but:hover
{
    background: #0d3c4b !important;
    color: #fff !important;
}
.nav_login_but:focus
{
  border: 0 !important;
  box-shadow: none !important;
}
.header_nevigation_section .navbar
{
  background: none !important;
}


.top_profile_section
{
    display: flex;
    align-items: center;
    float: left;
    position: relative;
    padding: 2px 0;

    
}
.top_profile_section .img_area
{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}
.top_profile_section .img_area img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

.top_profile_section p
{
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

.profile_drop
{
    display: none;
    float: left;
    position: absolute;
    background: #fff;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    right: 0;
    top: 40px;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.15);
}
.profile_drop ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.profile_drop ul li a
{
    display: inline-block;
    vertical-align: top;
    color: #000;
    margin: 5px 0;
}
.profile_drop ul li
{
  transition: 0.5s;
}
.profile_drop ul li a:hover ,.profile_drop ul li:hover
{
    color: #63A027;
}
.profile_drop ul li i
{
    margin-right: 5px;
}
.top_profile_section:hover .profile_drop
{
    display: block;
}
.modal_but
{
  cursor: pointer;
}

.suggestion_box
{
  margin-top: 15px;
  padding: 15px;
  box-shadow: 0px 6px 10px -2px rgba(66, 68, 90, .5);
  border-radius: 15px;
}
.suggestion {
  padding: 12px;
  border-bottom: 1px solid #eee;
  color: #666;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #0C3C4A;
  color: #fff;
  border-radius: 5px;
}
.location_search .fa-location-crosshairs
{
  color: #63A027;
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}
[type='checkbox']:checked, [type='radio']:checked, .dark [type='checkbox']:checked, .dark [type='radio']:checked {  
  color: #63A027;
}
.homepage_from_section {
  display: block;
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 24.4px 0px #63a02730;
  margin-top: -150px;
}
.homepage_from_section_top_area {
  display: block;
  float: left;
  width: 100%;
}
.home_form_tab_area {
  float: left;
  width: calc(100% - 60px);
  margin: 30px;
  background-color: #ffffff;
  padding: 15px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
  border-radius: 100px;
  margin-bottom: 0;
}


.homepage_from_section_top_area .tab-content2 {
  display: none; /* Hide all content by default */
}

.homepage_from_section_top_area .tab-content2.active {
  display: block; /* Show active content */
}

.homepage_from_section_top_area  .tab-button2 {
  padding: 10px 20px;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer;
  width: 50%;
  margin: 0 10px  !important;
  border-radius: 100px;
}
.homepage_from_section_top_area  .tab-button2 img
{
  display: inline-block;
  width: auto !important;
  height: 25px !important;
  margin-left: 10px;
  vertical-align: middle;
}

.homepage_from_section_top_area .tab-button2.active {
  background-color: #0C3C4A;
  color: #fff;
  border-bottom: none; /* Seamless connection to content */
}
.homepage_from_section_top_area .tab-button2.active img
{
  filter: brightness(0) invert(1);
}

.homepage_from_section_top_area .tab-button2:hover
{
  background-color: #0C3C4A;
  color: #fff;
  border-bottom: none; 
}
.homepage_from_section_top_area .tab-button2:hover img
{
  filter: brightness(0) invert(1) !important;
}

.home_form {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 30px;
  padding-top: 0;
}

.rating-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, sans-serif;
}

.rating-radio {
  display: none;
}

.rating-label {
  padding: 8px 16px;
  border: 1px solid #d0d0d0;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: white;
  color: #1f2937;
  margin-top: 10px;
}

.rating-radio:checked + .rating-label {
  background-color: #0C3C4A;
  color: white;
  border-color: #0C3C4A;
}

.rating-label:hover {
  background-color: #0C3C4A;
  color: #fff;
}

.rating-radio:checked + .rating-label:hover {
  background-color: #0C3C4A;
}


.rating-label2 {
  padding: 10px 20px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: white;
  color: #1f2937;
  margin-top: 10px;
}

.rating-radio:checked + .rating-label2 {
  background-color: #0C3C4A;
  color: white;
  border-color: #0C3C4A;
}

.rating-label2:hover {
  background-color: #f8fafc;
}

.rating-radio:checked + .rating-label2:hover {
  background-color: #0C3C4A;
  
}

.homepage_from_section_bottom_area_area {
  display: block;
  float: left;
  width: 100%;
  padding: 20px 30px;
  background: #e2f0d4;
  border-radius: 0 0 15px 15px;
}
.logout_modal_text
{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}
.logout_modal_text p
{
    font-size: 25px;
}

.logout_modal_button_area {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px 0 0 0;
}

.black_line_but
{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 150px;
    padding: 12px 12px;
    text-align: center;
    border: 1px solid #0F0500;
    margin: 10px;
    color: #0F0500;
    border-radius: 8px;
}
.black_line_but:hover
{
    background: #0F0500;
    color: #fff;
}
.black_but
{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 150px;
    padding: 12px 12px;
    text-align: center;
    border: 1px solid #0F0500;
    background: #0F0500;
    margin: 10px;
    color: #fff;
    border-radius: 8px;
}
.black_but:hover
{
    background: #63A027;
    color: #fff;
}



.search_result_box1 .img_area
{
    display: block;
    float: left;
    width: 130px;
}
.search_result_box1 .img_area img
{
    width: 100%;
    float: left;
    display: block;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}
.search_result_box1 .text_area
{
    display: block;
    float: left;
    width: calc(100% - 130px);
    padding-left: 15px;
}
.search_result_box1 .text_area .left
{
    display: block;
    float: left;
    width: calc(100% - 120px) !important;
}
.search_result_box1 .text_area .top_section
{
    display: flex;
    float: left;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 12px;
}
.service_name
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: #0F0500;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.service_rating
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: #A7A7A7;
}
.service_rating span
{
    color: #E10606;
    margin-right: 8px;
}
.service_map
{
    display: inline-block;
    vertical-align: top;
    width: 100%; 
    color: #666666; 
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.service_map i
{
    color: #0d3c4b;
}
.service_repeat
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: #666666; 
    font-weight: bold;
}
.service_repeat span
{
    color: #0d3c4b;
}
.bookmark
{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #F9ECE4;
    color: #BEBEBE;
    cursor: pointer;
}
.bookmark:hover i
{
    color: #E10606;
}
.bookmark_active
{
    color: #E10606 !important;   
}
.search_result_box1 .text_area .right
{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 0 120px;
}
.service_price
{
    white-space: nowrap;
    color: #666666;
}
.service_price span
{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #0C3C4A;
    font-size: 18px;
    padding: 2px 12px;
    border-radius: 6px;
    background: #E1FFC3;
    margin-right: 5px;
}

.search_result_box1 .text_area .bottom_section
{
    display: flex;
    float: left;
    width: 100%;
    padding-top: 12px;
    justify-content: flex-end;
}
.book_appointment_but 
{
    background: #63A027;
    color: #fff;
    padding: 7px 30px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
}
.book_appointment_but:hover
{
    background: #0C3C4A;
    color: #fff;
}

.book_appointment_but2
{
    background: #63A027;
    color: #fff;
    padding: 7px 30px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    border: none;
}
.book_appointment_but2:hover
{
    background: #0C3C4A;
    color: #fff;
}
.search_left_link
{
  position: sticky;
  top: 15px;
}
.sitter_banner_section
{
  position: relative;
  z-index: 1;
  width: 100%;
}
.sitter_header_details
{
  position: relative;
  z-index: 1;
  padding-left: 50px;
}

.service_tab_section .tab-button img {
  width: auto !important;
  height: 25px !important;
  margin-left: 10px;
}


.tab-container{
	margin: 5% 10%;
	background-color: #c1e3d9;
	padding: 3%;
	border-radius: 4px;
}

.tab-menu ul{
	margin: 0;
	padding: 0;
}
.tab-menu ul li{
	list-style-type: none;
	display: inline-block;
}
.tab-menu ul li a{
	text-decoration: none;
	color: rgba(0,0,0,0.4);
	background-color: #b4cbc4;
	padding: 7px 25px;
	border-radius: 4px;
}
.tab-menu ul li a.active-a{
	background-color: #588d7d;
	color: #ffffff;
}
.tab{
	display: none;
}
.tab h2{
	color: rgba(0,0,0,.7);
}
.tab p{
	color: rgba(0,0,0,0.6);
	text-align: justify;
}
.tab-active{
	display: block;
}
.schedule_color
{
  margin-bottom: 2px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail {
  width: 150px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fullImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}

.service_details_total_review_card
{
    width: 100%;
}

.service_details_total_review_card .top_section
{
    display: flex;
    float: left;
    width: 100%;
    align-items: center;
}
.service_details_total_review_card .top_section h2
{
    font-weight: 700;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
}
.service_details_total_review_card .top_section .text
{
    display: block;
    float: left;
    width: 100%;
    padding-left: 15px;
}
.service_details_total_review_card .top_section h3
{
    font-weight: 700;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.service_details_total_review_card .bottom_section
{
    display: block;
    float: left;
    width: 100%;
}

.service_details_total_review_card_bottom_box1
{
    display: flex;
    float: left;
    width: 100%;
    margin-top: 8px;
    align-items: center;
}
.service_details_total_review_card_bottom_box1 .left
{
    flex: 90px 0 0;
    text-align: right;
}
.service_details_total_review_card_bottom_box1 .middle
{
    width: 100%;
    text-align: right;
    padding: 0 12px;
}
.service_details_total_review_card_bottom_box1 .middle .progress
{
    height: 10px;
}
.service_details_total_review_card_bottom_box1 .middle  .progress-bar
{
    background: #D27722 !important;
}
.service_details_total_review_card_bottom_box1 .right
{
    flex: 0 0 50px;
    text-align: right;
}
.service_details_rating
{
    color: #545454;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.service_details_rating i
{
    color: #E10606;
}
.service_details_rating span
{
    font-weight: 700;
    color: #000;
}
.details_right
{
  position: sticky;
  top: 80px;
  
}
.sticky {
  position: sticky;
  top: 80px;
  z-index: 10;
}

.login_page_body
{
    background: url(/images/login_page_bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login_blur
{
  backdrop-filter: blur(1px);
}

.loaderContainer
{
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.loaderContainer img
{
  margin-top: 50px;
}

.loaderContainer2 {
  position: fixed; /* Ensures the loader stays in the viewport */
  top: 0; /* Position at the top of the screen */
  left: 0; /* Position at the left of the screen */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  background: rgba(249, 247, 247, 0.986); /* Light background to contrast with loader */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Ensures it's above all other elements */
}

.loaderContainer2 img
{
  margin-top: 50px;
}


.loaderContainer3 {
  position: relative; /* Ensures the loader stays in the viewport */
  top: 0; /* Position at the top of the screen */
  left: 0; /* Position at the left of the screen */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  background: rgba(249, 247, 247, 0.986); /* Light background to contrast with loader */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

.loaderContainer3 img
{
  margin-top: 50px;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Toastify__toast-container {
  z-index: 1350 !important; /* Ensure it stays on top of other components */
}
.rating_modal_text
{
    display: block;
    float: left;
    width: 100%;
}
.password_eye
{
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 15px;
}
.Toastify
{
  z-index: 3;
  position: relative;
}
.modal-overlay
{
  z-index: auto !important;
}

#navArea.is-sticky {
  background: #000;
  }
  
.carousel-item-padding {
  padding: 0 15px; 
}
.Navbar_edit ul
{
  align-items: center;
}

.Navbar_edit ul li
{
  width: 100%;
  white-space: nowrap;
}

.home_select option:hover {
  background-color: darkgreen !important; 
  color: white !important; 
}

.sitter_video_size
{
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 180px);
  background: #000;
}
.Navbar_edit a
{
  color: #000;
}
.close_but button
{
  border-radius: 100% !important;
  background: #000000;
  color: #fff;
  opacity: 1;
}
.close_but button:hover
{
  background: #63A027;
  color: #fff; 
}



.blue-close-button button[type="button"] {
  color: #3b82f6; /* Tailwind's blue-500 */
}

.blue-close-button button[type="button"]:hover {
  color: #2563eb; /* Tailwind's blue-600 for hover state */
}
.search_close_but
{
  background:  none !important;
  border: none !important;
}
.recent-searches li{
  color: #0C3C4A;
  text-decoration: none;
  padding: 8px 30px;
  cursor: pointer;
}
.recent-searches li:hover
{
  background: #F0FFE1;
}
.bg-cyan-700
{
  background: #0C3C4A !important;
}
.clalender-custom
{
  border: 1px solid #d0d0d0;
  min-width: 500px;
}
.clalender-custom  > div
{
  border: 1px solid #bdbdbd;
}
.sitter_videos_box226
{
  margin-top: 20px;
}
.sitter_videos_box226 img
{
  width: 100%;
  height: 150px;
  border-radius: 8px;
}
.tab-active img
{
  filter: brightness(0) invert(1); 
}
.information-tab img
{
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  margin-top: 0px;
  object-fit: contain;
}

.information-tab button:hover
{
  background: #0C3C4A;
  color: #fff;
}
.information-tab button:hover img
{
  filter: brightness(0) invert(1);  
}
.rating-label img
{
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  margin-top: 0px;
  object-fit: contain;
}
.rating-label:hover img
{
  filter: brightness(0) invert(1);  
}
.rating-label.activetab img
{
  filter: brightness(0) invert(1);  
}
.but_style2
{
    background: #0d3c4b;
    color: #fff;
    padding: 0 !important;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
    border: 1px solid #63A027;
}
.but_style2:hover
{
    background: #63A027 !important;
    color: #fff !important;
    border: 1px solid #63A027 !important;
}
.but_style1:hover
{
    background: #0d3c4b;
    color: #fff;
    border: 1px solid #0d3c4b;
}
.close_but h3
{
  font-weight: 700 !important;
  font-family: "Nunito", sans-serif !important;
}
.Toastify
{
  z-index: 999999999;
}
.bg-cyan-700
{
  background: #0C3C4A !important;
}
.clalender-custom
{
  border: 1px solid #d0d0d0;
}
.clalender-custom  > div
{
  border: 1px solid #d0d0d0;
}
.sitter_videos_box226
{
  margin-top: 20px;
}
.sitter_videos_box226 img
{
  width: 100%;
  height: 150px;
  border-radius: 8px;
}
.tab-active img
{
  filter: brightness(0) invert(1); 
}
.rating-label img
{
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  margin-top: 0px;
}
.rating-label.activetab img
{
  filter: brightness(0) invert(1);  
}
