@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--foreground);
  background: var(--background);
}

a {
  transition: 0.5s;
  outline-style: none;
  text-decoration: none;
  color: #a084e8;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #0c3c4a;
}

p,
ul {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {   
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

.font-display {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white py-3 px-6 rounded-full transition-all duration-300 hover:bg-primary/90 font-normal;
  }

  .btn-secondary {
    @apply bg-secondary text-white py-3 px-6 rounded-full transition-all duration-300 hover:bg-secondary/90 font-normal;
  }

  .btn-outline {
    @apply border border-primary text-primary py-3 px-6 rounded-full transition-all duration-300 hover:bg-primary hover:text-white font-normal;
  }
}

